<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>POP</title>
{% load staticfiles %}
<header>
  <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
</head>

<body style="padding-left:100px">
    <div id="page">
        <div id="header">
        	<a href="http://127.0.0.1:8000/userInterface/home"><h1>Ponts Option Pricer</h1></a>
            <ul>
           	   	<li><a href="http://127.0.0.1:8000/userInterface/home">Home</a></li>
               	<li><a href="http://127.0.0.1:8000/userInterface/pricer">Pricer</a></li>
                <li><a href="http://127.0.0.1:8000/userInterface/faq">FAQ</a></li>
                <li><a href="http://127.0.0.1:8000/userInterface/contact">About us</a></li>
            </ul>
        </div>

        
</body>
</header>
<link rel="stylesheet" href="{% static 'css/body.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/faq.css' %}" type="text/css"> 
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">  
{% block content %}
<h1> Content goes here </h1>
{% endblock %}
<footer>
  <link rel="stylesheet" href="{% static 'css/footer.css' %}" type="text/css">
<body>
    <div id="page">
        
        <div id="footer">
          <a href="{% static 'css/images.png' %}">
          <img border="0" src="{% static 'css/images.png' %}" width="45" height="60">
        </a>
        </div>
        
    </div>
</body>
</footer>


</html>
