<div id="class">

	<script>
		var xhr = new XMLHttpRequest();
		var url = "http://127.0.0.1:8000/userInterface/pricer/"
		var params="call={{call}}&put={{put}}&delta_call={{delta_c}}&delta_put={{delta_p}}&gamma_call={{gamma_c}}&gamma_put={{gamma_p}}"
		xhr.open("POST", url, true);

		//Send the proper header information along with the request
		xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

		xhr.onreadystatechange = function() {//Call a function when the state changes.
		    if(xhr.readyState == 4 && xhr.status == 200) {
		        alert(xhr.responseText);
		    }
		}
		xhr.send(params);
	</script>

</div>