<div id="class">

	<!-- ce bout permet d'afficher payoff (calculer lors de l appel de la fonction python "computation"
	dans le views.py) dans la case "callPrice"

	mais je ne comprends pas pourquoi
	-->
	{{payoff}}

	<script>
		// source utilisée sur laquelle je me suis basé pour envoyer la donnée:
		// https://stackoverflow.com/questions/9713058/send-post-data-using-xmlhttprequest

		// problème de la source développezMozilla
		// elle n'explique pas comment faire intéragir les différents fichiers .html
		// pour envoyer des données depuis un fichier et les récupérer dans un autre
		
		// Cette source non plus:
		// https://xhr.spec.whatwg.org/#interface-xmlhttprequest

		var xhr = new XMLHttpRequest();
		var url = "http://127.0.0.1:8000/userInterface/pricer/"
		var params="lorem={{payoff}}&name=binny"
		xhr.open("POST", url, true);

		//Send the proper header information along with the request
		xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

		xhr.onreadystatechange = function() {//Call a function when the state changes.
		    if(xhr.readyState == 4 && xhr.status == 200) {
		        alert(xhr.responseText);
		    }
		}
		xhr.send(params);
	</script>

</div>