{% extends 'userInterface/theslant/header.html' %}

{% block content %}
 <div id="main">

	<div class="main_top">
    	<h1>Inputs: </h1>
    </div>
    
   	<div class="main_body">
   		<section>
	    	<form>
	    		<b> Stock  </b>      	 <input type="text" name="stock"><br><br>
	    		<b> Order  </b>      	 <input type="text" name="order"><br><br>
	    		<b> Model  </b>      	 <input type="text" name="model"><br><br>
	    		<b> Strike </b>      	 <input type="text" name="strike"><br><br>
	    		<b> Maturity </b>    	 <input type="text" name="maturity"><br><br>
	    		<b> Volatility </b>      <input type="text" name="volatility"><br><br>
	    		<b> Accuracy </b>        <input type="text" name="accuracy"><br><br>
	    		<b> Interest rates </b>  <input type="text" name="rate"><br><br>
   	
	    	</form>
	 	
	    </section>
    	<aside>
    		<style type="text/css">
				table {
				    font-family: arial, sans-serif;
				    border-collapse: collapse;
				    width: 100%;
				}

				td, th {
				    border: 1px solid #dddddd;
				    text-align: left;
				    padding: 8px;
				}

				tr:nth-child(even) {
				    background-color: #dddddd;
				}
			</style>
			<table style="width:50%">
			  <tr>
			    <th> Outputs </th>
			    <th>Call Option</th> 
			    <th>Put Option</th>
			  </tr>
			  <tr>
			    <td>Theoretical price</td>
			    <td> </td>
			    <td> </td>
			  </tr>
			  <tr>
			    <td>Delta</td>
			    <td> </td>
			    <td> </td>
			  </tr>
			  <tr>
			    <td>Gamma</td>
			    <td> </td>
			    <td> </td>
			  </tr>
			</table>
    	</aside>   	 
    </div>
    
   	<div class="main_bottom"></div>
    
</div> 
{% endblock %}