{% extends 'userInterface/header.html' %}

{% block content %}
 <div id="main">

	<div class="main_top">
    	<h1> </h1>
    </div>

   	<div class="main_body">
	
		<form id="paramForm" style="width:45%;display:inline-block">
			
			<label class="form_col" for="Stock">Stock :</label>
			<input name="Stock" id="Stock" type=number step="0.001" min="0" value="100"/>
			<!--<span class="tooltip">La valeur doit être positive</span> -->
			<br /><br />
			
			<label class="form_col">Model :</label>
			<select id="Model">
  				<option value="BS">Black-Scholes</option>
  				<option value="Heston">Heston</option>
			</select>
			<!--<span class="tooltip">Vous devez sélectionnez le modèle</span>-->

			<br /> <br />
			
			<span class="form_col">Type :</span>
			<select id="Type">
  				<option value="E">European</option>
  				<option value="A">Asian</option>
			</select>
			<br /><br/>

			<span class="form_col">Method :</span>
			<select id="Method">
  				<option value="bs">Black-Scholes</option>
  				<option value="mc_e">Monte-Carlo Explicit</option>
   				<option value="mc">Monte-Carlo with Euler Scheme</option>
  				<option value="mlmc">Multilevel Monte-Carlo</option>
			</select>
			<br /><br/>

			<label class="form_col" for="Strike">Strike :</label>
			<input name="Strike" id="Strike" type=number step="0.001" min="0" value="100"/>
			<!-- <span class="tooltip">La valeur doit être positive</span> -->
			<br /><br />
			
			<label class="form_col" for="Maturity">Maturity :</label>
			<input name="Maturity" id="Maturity" type=number step="0.001" min="0" value="1"/>
			<!--<span class="tooltip">La valeur doit être positive</span> -->
			<br /><br />
			
			<label class="form_col" for="Volatility">Volatility :</label>
			<input name="Volatility" id="Volatility" type=number step="0.001" min="0" value="0.2"/>
			<!-- <span class="tooltip">La valeur doit être positive</span> -->
			<br /><br />
			
			<label class="form_col" for="InterestRates">Interest Rates :</label>
			<input name="InterestRates" id="InterestRates" type=number step="0.001" min="0" value="0.1"/>
			<!-- <span class="tooltip">La valeur doit être positive</span>  -->
			<br /><br />
		
			<input type="submit" value="Calculate" /> <input type="reset" value="Cancel " />
		
		</form>
		<table style="width:40%;display:inline-block;padding-left:30px" class="table table-striped">
			<col width="40%">
			<col width="25%">
			<col width="25%">
			<thead>
			<tr>
				<th> Outputs </th>
				<th> Call Option</th> 
				<th> Put Option</th>
			</tr>
			</thead>
			<tr>
				<td>Theoretical price</td>
				<td id="callPrice"> </td>
				<td id="putPrice"> </td>
			</tr>
			<tr>
				<td>Delta</td>
				<td id="callDelta"> </td>
				<td id="putDelta"> </td>
			</tr>
			<tr>
				<td>Gamma</td>
				<td id="callGamma"> </td>
				<td id="putGamma"> </td>
			</tr>
		</table> 


	</div>

	<script>
	(function inputOutput() { 
	
			var paramForm = document.getElementById('paramForm'),
				inputs = document.querySelectorAll('input[type=text], input[type=password]'),
				inputsLength = inputs.length;
			
			paramForm.addEventListener('submit', function(e) {
				var Stock=document.getElementById('Stock').value;
				var Strike=document.getElementById('Strike').value;
				var Maturity=document.getElementById('Maturity').value;
				var type = document.getElementById("Type");
				var Type = type.options[type.selectedIndex].value;
				var method = document.getElementById("Method");
				var Method = method.options[method.selectedIndex].value;
				var model = document.getElementById("Model");
				var Model = model.options[model.selectedIndex].value;
				var Volatility=document.getElementById('Volatility').value;
				var InterestRates=document.getElementById('InterestRates').value;

				var entries=String(Stock)+'/'+String(Strike)+'/'+String(Volatility)+'/'+String(Maturity)+'/'+String(InterestRates)+'/'+String(Model)+'/'+String(Type)+'/'+String(Method)+'/';
				
				// gestion d'inputs qui combinés ne sont pas bonnes. (p.ex. on ne peut calculer une option asiatique avec la formule de Black-Scholes)
				if(Type=="Asian" && (Method=="Black-Scholes" || Method=="Monte-Carlo Explicit") ){
					alert("Cannot calculate price of Asian option with 'Black-Scholes' or 'Monte-Carlo explicit' method. Switch to another method or to another option type.");
					entries='';
				}	
				else if(Type=="Asian" && (Model=="Heston") ){
					alert("Cannot calculate price of Asian option with 'Black-Scholes' or 'Heston' model. Switch to another model or to another option type.");
					entries='';
				}	
				else if(Model=="Heston" && (Method=="Black-Scholes" || Method=="Monte-Carlo Explicit") ){
					alert("Cannot calculate price of an option with 'Heston' model and 'Black-Scholes' or 'Monte-Carlo explicit' method. Switch to another method or to another option type.");
					entries='';
				}	

				var xhr = new XMLHttpRequest();

				xhr.open("GET", 'http://127.0.0.1:8000/userInterface/computation/'+entries, true); // true for asynchronous 
			    xhr.onreadystatechange = function() { 
			        function clearElement(element) {
						while (element.firstChild) {
							element.removeChild(element.firstChild);
						}
					}
					if (xhr.readyState == 4 && xhr.status == 200){ // si la réponse du serveur a bien été reçue
					var response = JSON.parse(this.responseText);
			
						var callPriceText = document.createTextNode(response.call);
						var callPrice = document.getElementById('callPrice');
						clearElement(callPrice);
			           	callPrice.appendChild(callPriceText);

						var putPriceText = document.createTextNode(response.put);
						var putPrice = document.getElementById('putPrice');
						clearElement(putPrice);
						putPrice.appendChild(putPriceText);

						var deltaCallText = document.createTextNode(response.delta_call);
						var deltaCall=document.getElementById('callDelta');
						clearElement(deltaCall);
						deltaCall.appendChild(deltaCallText);

						var deltaPutText = document.createTextNode(response.delta_put);
						var deltaPut=document.getElementById('putDelta');
						clearElement(deltaPut);
						deltaPut.appendChild(deltaPutText);

						var gammaCallText = document.createTextNode(response.gamma_call);
						var gammaCall=document.getElementById('callGamma');
						clearElement(gammaCall);
						gammaCall.appendChild(gammaCallText);

						var gammaPutText = document.createTextNode(response.gamma_put);
						var gammaPut=document.getElementById('putGamma');
						clearElement(gammaPut);
						gammaPut.appendChild(gammaPutText);
		        }
			    }
			   
			    xhr.send(null);
				
				e.preventDefault();
			});
			
			
			paramForm.addEventListener('reset', function() {
				for (var i = 0; i < inputsLength; i++) {
				inputs[i].className = '';
				}
			});
			
		})();
	
	</script>
    
</div> 
{% endblock %}