 
/* Pour le corps de chaque page */

#main 
{
margin-top:0px;
margin-bottom:10px;
}


#main .main_top
{
height:85px;
width:920px;
background-image: url(../png/main_top.png);
background-repeat:no-repeat;
}

#main .main_body
{
padding-left:0px;
height:auto;
width:920px;
background-image:url(../png/main_body.png);
background-repeat:repeat-y;
color:#000000;
padding-bottom:20px;
}


#main .main_top h1
{
font-size:18px;
line-height:85px;
color:#000000;
margin:0 auto;
padding-left: 20px;
background-image:url(../png/header_h1_bg.png);
background-position:right;
background-repeat:no-repeat;
margin-right:25px;
}



#main .main_body p
{
line-height:19px;
letter-spacing:1px;
padding-bottom:5px;
padding-left:20px;
padding-right:20px;
}

#main .main_body h3
{
line-height:19px;
letter-spacing:1px;
padding-bottom:5px;
padding-left:20px;
padding-right:20px;
}

#main .main_body form
{
line-height:20px;
padding-left:50px;
padding-right:20px;
}

#main .main_body aside
{
position: relative;
line-height:20px;
padding-left:10px;
padding-right:20px;
}

#main .main_bottom
{
height:20px;
width:470px;
color:#000;
background-image:url(../png/main_bottom.png);
background-repeat:no-repeat;
}

#main .main_bottom a
{
color:#000;
padding-left: 25px;
}

/* Pour redéfinir les tables */

table{border-collapse:collapse}

/* Pour la page ressources.html */

div.colonnes {
  display: table;
  border-collapse: separate; 
  border-spacing: 5px; 
  border: none
  
}

p.colonne {
  display: table-cell;
  padding: 5px;
  border: none
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block
}

/* pour la page pricer.html */

.form_col {
  text-align: left;
  display: inline-block;
  margin-right: 15px;
  padding: 3px 0px;
  width: 70px;
  min-height: 1px;
  text-align: right;
}
input {
  margin-left:10px;
  padding: 2px;
  border: 1px solid #CCC;
  border-radius: 2px;
  outline: none; 
  }

/* Pour la page faq.html */

.faq-section{
  margin: 0px 0;
}

.faq-section p, .faq-section input{
  display: none;
}   

.faq-section label+p{
  display: block; 
  color: #999;
  font-size: .85em;
  -webkit-transition: all .15s ease-out; 
  -moz-transition: all .15s ease-out;
  -ms-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
  /* Clipping text */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;           
}

.faq-section input[type=checkbox]:checked~p{
  display: block;
  color: #444;
  font-size: 1em;
  /* restore clipping defaults */
  text-overflow: clip; 
  white-space: normal;
  overflow: visible;  
}

.faq-section label{
  font-size: 1.2em;
  cursor: pointer;
  background: #eee;
  display: block;
  position: relative;
  padding: 7px 10px;
  font-weight: bold;
  border: 1px solid #ddd;
  border-left: 3px solid #888;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  -webkit-transition: all .15s ease-out; 
  -moz-transition: all .15s ease-out;
  -ms-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;      
}

.faq-section label::-moz-selection{ /* remove text selection when toggle-ing */
  background: #000080;
}

.faq-section label::selection{
  background: #000080;
}

.faq-section label:hover{
  background: #E0FFFF;
}

.faq-section input[type=checkbox]:checked~label{
  border-color: #E0FFFF;      
  background: #E0FFFF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#E0FFFF));
  background-image: -webkit-linear-gradient(top, #fff, #E0FFFF); 
  background-image: -moz-linear-gradient(top, #fff, #E0FFFF); 
  background-image: -ms-linear-gradient(top, #fff, #E0FFFF); 
  background-image: -o-linear-gradient(top, #fff, #E0FFFF); 
  background-image: linear-gradient(to bottom, #fff, #E0FFFF);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,.4);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,.4);
  box-shadow: 0 0 1px rgba(0,0,0,.4);       
}

.faq-section label::before{
  content: '';
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: -6px;
  border: 6px solid transparent;
  border-left-color: inherit; 
}

.faq-section input[type=checkbox]:checked~label::before{
  border: 6px solid transparent;
  border-top-color: inherit;
  margin-top: -3px;
  right: 10px;  
}

#page
{
  margin: 0 auto 0 auto; 
  margin-top:0px;
  display: block; 
  height:auto;
  position: relative; 
  overflow: hidden; 
  width: 920px;
  background-image: #FFFFFF
}     